{% extends 'base.html.twig' %}

{% block body %}
    <!-- HEADER -->
    {% include "header/public/header.html.twig" %}

    <!-- CONTENT -->
    <main>
        <div class="text-container">
            <div class="text-part">
                <h2 class="mb-4">Description du site</h2>
                <p>LabBoîte est un tiers-lieu et fabLab qui fait partie de CY Cergy Paris Université. Ce site rassemble les informations autour des outils, machines et logiciels disponibles à LabBoîte.</p>
            </div>
            <div class="text-part">
                <h2 class="mb-4">Éditeur du site</h2>
                <p>CY Cergy Paris Université<br/>33 boulevard du Port<br/>95011 Cergy-Pontoise Cedex<br/>France<br/>Tel. : +33 (0)1 34 25 60 00</p>
            </div>
            <div class="text-part">
                <h2 class="mb-4">Directeur de la publication</h2>
                <p>François Germinet<br/>Administrateur de CY Cergy Paris Université<br/><a href="mailto:presidence@u-cergy.fr">presidence@u-cergy.fr</a></p>
            </div>
            <div class="text-part">
                <h2 class="mb-4">Hébergement</h2>
                <p>Gandi SAS<br/>63-65 boulevard Masséna<br/>75013 Paris<br/>France<br/>Tel. : +33 (0)1 70 37 76 61</p>
            </div>
            <div class="text-part">
                <h2 class="mb-4">Crédits</h2>
                <p>Design : Valentin Socha<br/>Développement : Marc Pierron et Filoupatir Hanna de la Licence pro Développeur Web (CY Cergy Paris Université), sous la responsabilité pédagogique de Laurent Ricard</p>
            </div>
            <div class="text-part">
                <h2 class="mb-4">Version</h2>
                <p>Version actuelle : 0.1</p>
            </div>
        </div>
    </main>
{% endblock %}
