{% extends 'base.html.twig' %}

{% block body %}
    <!-- HEADER -->
    {% include "header/admin/header.html.twig" %}

    <!-- CONTENT -->
    <main>
        <div class="container">
            MENTIONS LEGALES
        </div>
    </main>
{% endblock %}